/* 
 * Navbar
 */

nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 20px;
    right: 20px;
    z-index: 2;
}
  
.nav-list {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    transition: ease;
    font-family: 'Squada One', cursive;
    color: var(--font-menu);
    text-shadow: 4px 1px 2px rgba(0, 0, 0, 0.5);
}
  
.nav-item {
    box-sizing: border-box;
    line-height: 24px;
}
  
.nav-item a {
    padding: 0.7rem;
    display: inline-block;
    font-size: 1.3em;
    text-decoration: none;
    color: var(--text-color);
}
  
.nav-item button {
    padding: 0.9rem;
    background-color: transparent;
    border: 0 solid transparent;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.3;
    vertical-align: middle;
}
  
.nav-item a:hover {
    text-decoration: none;
    color: var(--nav-hover);
    cursor: pointer;
}
  
.nav-item button:hover {
    text-decoration: none;
    color: var(--secondary-color);
    cursor: pointer;
}

.menu {
    font-size: 25px;
    display: none;
    width: 44px;
    height: 44px;
    color: var(--text-color);
    color: var(--font-menu);
    text-shadow: 4px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 1px 2px rgba(0, 0, 0, 0.5);
}
  
.menu:hover {
    cursor: pointer;
}
  
.logo-resto {
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Sigmar One', cursive;
    color: var(--font-menu);
    text-shadow: 4px 1px 2px rgba(0, 0, 0, 0.5);
}