<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- My View Port -->
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    
    <title>Restoran Ku</title>

    <!-- My Icon -->
    <link rel="shortcut icon" href="/images/logo/logo.png">

    <!-- My Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">

</head>
<body>
<!-- Skip Content Awal -->
<a href="#content" class="skip-link">Mau skip konten ?</a>
<!-- Skip Content Akhir -->

<!-- Navigasi Awal -->
<nav>
    <div class="logo">
        <a href="#">
        <img src="/images/logo/logo-brand.png" alt="Gambar logo brand aplikasi restoran ku"> 
        <h1>Restoran Ku</h1></a>
    </div>
    <button class="menu-toggle">
        <input type="checkbox">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <ul tabindex="0">
        <li><a href="/"><i class="fas fa-home"></i> Beranda</a></li>
        <li><a href="#content"><i class="fab fa-product-hunt"></i> Produk</a></li>
        <li><a href="#"><i class="fas fa-heart"></i> Favorit</a></li>
        <li><a href="https://bit.ly/RifkiRamadhan" target="_blank"><i class="fas fa-address-card"></i> Tentang</a></li>
        <li><a href="#contact"><i class="far fa-address-book"></i> Kontak</a></li>
    </ul>
</nav>
<!-- Navigasi Akhir -->

<!-- Hero Awal -->
<div tabindex="0" class="hero">
    <div class="hero__inner">
        <h1 tabindex="0" class="hero__title">Restoran Ku</h1>
        <p tabindex="0" class="hero__tagline">Kunjungi Restoran Ku untuk mendapatkan pelayanan makan bareng yang spessial.</p>
    </div>
</div>
<!-- Hero Akhir -->

<!-- Content Awal -->
<main id="content">
    <section class="content">
        <div class="latest">
            <div tabindex="0" class="latest__label"><h2>Daftar</h2></div>
            <div class="posts" id="posting">
            </div>
        </div>
    </section>

    <div id="contact" class="content">
        <h2 tabindex="0">Kontak</h2>
        <label tabindex="0" for="name">Nama: </label>
        <input tabindex="0" id="name" type="text" placeholder="Masukkan nama lengkap Anda">
        <label tabindex="0" for="email">Email: </label>
        <input tabindex="0" id="email" type="email" placeholder="Masukkan email Anda"> 
        <label tabindex="0" for="address">Pesan: </label>
        <textarea tabindex="0" name="address" id="textarea" cols="30" rows="3" placeholder="Masukkan pesan Anda"></textarea>
        <button class="button-kirim" onclick="alert('Anda telah mengklik tombol kirim')"><i class="far fa-paper-plane"></i> Kirim</button>
    </div>    
</main>
<!-- Content Akhir -->

<!-- Footer Awal -->
<footer tabindex="0">
    <p tabindex="0">Copyright &copy; 2021 - Restoran Ku.</p>
</footer>
<!-- Footer Akhir -->

<!-- My Font Awesome -->
<script src="https://kit.fontawesome.com/e38379de86.js" crossorigin="anonymous"></script>
</body>
</html>
